

html {
  scroll-behavior: smooth;
}
.sub {padding-top: 240px}
.sub.none {padding-top: 0px}
.sub-inner {
  width: 100%;
  max-width: 1440px;
  margin-left:auto;
  margin-right:auto;
}
.sub-inner img {
  max-width: 100%;
}

.sub-inner .h3-tit {
  position: relative;
  padding-bottom: 41px;
  margin-bottom: 80px;
  font-size: 32px;
  font-weight: bold;
}

.sub-inner .h3-tit::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 14px;
  height: 29px;
  background: url(../img/about/loading.png) 3px 0 no-repeat;
}


@media screen and (max-width: 767px) {
  .sub-inner .h3-tit {
    font-size: 7vw;
    padding-bottom: 8vw;
    margin-bottom: 10vw;
  }

  .sub-inner .h3-tit::after {
    content: "";
    width: 3vw;
    height: 7vw;
    background: url(../img/about/loading.png) 0 0 no-repeat;
    background-size: cover;
  }
}


/************************************ about ************************************/
.about .title {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0px auto 580px;
  font-size: 140px;
  font-weight: 500;
  line-height: 1.3;
  color: #282828;
}

.about .title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .title h2 span:nth-child(2) ,.about .title h2 span:nth-child(4) {
  padding-left: 160px;
}

.about .nxgram {
  position: absolute;
  left: 550px;
  bottom: -400px;
}

.about .nxgram2 {
  position: absolute;
  left: 950px;
  top: 300px;
}

.about .nxgram img, .about .nxgram2 img{
  max-width: 100%
}

.about-slide  {height: 200vh; color: #fff}
.about-slide > div {height: 100vh}
.about-slide .about-slide-inner {
  position: relative;
  height: 100%;
  background: #000 url("../img/about/about-slidebg.png") 50%/cover no-repeat; 
  background-attachment: fixed;
}
.about-slide .about-slide-inner .swiper {
  width: 100%;
  height: 100%;
}

.about-slide .about-slide-inner .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-slide .about-slide-inner .swiper-pagination-bullet {
  margin: 0 !important;
  width: 15px;
  height: 30px;
  background: url("../img/about/loading.png") -17px 0 no-repeat;
  border-radius: 0;
  opacity: 0.6;
}

.about-slide .about-slide-inner .swiper-pagination-bullet-active {
  background: url("../img/about/loading.png") 3px 0 no-repeat;
  opacity: 1;
}

.about-slide .about-slide-inner .swiper-pagination {
  top: 90%;
  left: 50%;
  text-align: left;
  width: 100%;
  max-width: 1440px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-slide .about-slide-inner .swiper-btn{
  position: absolute;
  top: 90%;
  left:50%;
  -webkit-transform: translateX(-4130%);
          transform: translateX(-4130%);
  width: 15px;
  height: 30px;
  background: url("../img/about/loading.png") -116px 0 no-repeat;
  font-size: 0;
  text-indent: -9999px;
  z-index: 11;
  cursor: pointer;
}

.about-slide .about-slide-inner .swiper-btn.stop{
  background: url("../img/about/loading.png") -150px 0 no-repeat;
}

.about-slide .about-slide-inner .type1 {
  height: 70%;
  padding-bottom: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-content: space-around; */
}
.about-slide .about-slide-inner .type1 .t-wrap {
  padding-top: 7vh;
}

.about-slide .about-slide-inner .type1 h3 {
  font-size: 32px;
  font-weight: bold;
}

.about-slide .about-slide-inner .type1 h4 {
  font-size: 48px;
  line-height: 1.5;
  font-weight: bold;
}

.about-slide .about-slide-inner .type1 p, .about-slide .about-slide-inner .type2 p {
  font-size: 16px;
  line-height: 2;
  font-weight: 300;
  opacity: 0.7;
}

.about-slide .about-slide-inner .type2 p {
  max-width: 500px;
}

.about-slide .about-slide-inner .type2 {
  height: 70%;
  padding-bottom: 3%;
}

.about-slide .about-slide-inner .type2 h3 {
  font-size: 100px;
  line-height: 1.2;
  font-weight: bold;
}

.about-slide .about-slide-inner .type2 strong {
  display: block;
  padding: 5% 0 6%;
  font-size: 40px;
  font-weight: bold;
}


.about .graphic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 101vh;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about .visible {
  opacity: 1;
}

.about .scroll-graphic {
  position: sticky;
  top: 0px;
  height: 10vh;
}
.about .scene-img {
  max-height: 100vh;
  max-width: 100%;
}
.about .global-width {
  max-width: 1440px;
  margin: 200px auto;
}
.about .scroll-text {
  position: relative;
}

.about .rolltext {
  width: 420px;
  font-size: 80px;
  font-weight: bold;
  line-height: 1.3;
  color: #fff;
  margin-top: 100px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.about .step {
  padding: 0.5rem 1rem;
  margin-bottom: 90vh;
}

.about .graphic-item.renew:nth-child(1) { background: #3d4234; }
.about .graphic-item.renew:nth-child(2) { background: #1b2d3a; }
.about .graphic-item.renew:nth-child(3) { background: #3e3d53; }

.about .history-list{
  padding-bottom: 59px;
}

.about .history-item{
  width: 394px;
  padding-bottom: 120px;
}

.about .history-item:nth-child(4n){
  width: 245px;
}

.about .history-item h4 {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: bold;
}

.about .history-item li {
  font-size: 16px;
  line-height: 32px;
}

.about .organization-list {
  padding-bottom: 188px;
}

.about .organization-item  {
  width: 390px;
}

.about .organization-item h4 {
  margin-bottom: 80px;
  font-size: 48px;
  font-weight: bold;
}

.about .organization-item ul {
  max-width: 369px;
}

.about .organization-item li {
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}

.about .organization-item li:first-child {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 59px;
}


.about .brand strong, .about .brand-info strong {
  font-weight: bold;
}

.about .brand strong.fs32 {
  font-size: 32px;
}

.about .brand strong.fs100 {
  display: block;
  max-width: 1050px;
  font-size: 100px;
  line-height: 1.4;
}

.about .brand p {
  padding-top: 40px;
  font-size: 24px;
  line-height: 2.1;
}

.about .brand-info p {
  max-width: 1350px;
  font-size: 24px;
  line-height: 1.6;
}

.about .brand-info li {
  padding: 44px 114px;
  font-size: 32px;
  font-weight: bold;
  border-right: #707070 1px dashed;
}

.about .brand-info li:last-child {
  border-right: 0;
}

.about .brand-bg {
  padding-top: 75%;
  background: url("../img/about/about-brand1.png") 50% top/cover no-repeat;
  background-attachment: fixed;
}

.about img {
  width: 100%;
}

.about img.w50 {
  width: 50%;
}

.about img.mw100 {
  max-width: 100%;
  width: auto;
}

.about .history-item:nth-child(4n+1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.about .history-item:nth-child(4n+2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.about .history-item:nth-child(4n+3) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.about .history-item:nth-child(4n) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.about .organization-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.about .organization-item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.about .organization-item:nth-child(3) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}


/* 작은 모니터 */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .sub-inner {
    padding: 0px 40px;
  }
  .about .title {
    width: auto;
    margin: 0px 40px 300px;
    font-size: 90px;
  }
  
  .about .rolltext {
    padding-left: 40px;
  }

  .about .nxgram {
    left: 390px;  
  }

  .about .nxgram2 {
    top: 198px;
    left: 630px;
    max-width: 30%;
  }

  .about .title h2 span:nth-child(2) ,.about .title h2 span:nth-child(4) {
    padding-left: 100px;
  }

  .about-slide .about-slide-inner .swiper-pagination{
    width: 95px;
    left: 40px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  .about-slide .about-slide-inner .swiper-btn {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 140px;
  }
  .about .history-item, .about .history-item:nth-child(4n) {
    width: 33.3%;
  }

  .about .organization-item {
    width: 33.3%;
    padding-right: 20px;
  }
  .about .brand-info li {
    padding: 44px 6%;
  }

  .about .history-item:nth-child(3n+1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }

  .about .history-item:nth-child(3n+2) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }

  .about .history-item:nth-child(3n) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }

}



/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sub {
    padding-top: 180px
  }
  .sub-inner {
    padding: 0px 40px;
  }
  .about .title {
    width: auto;
    margin: 0px 40px 250px;
    font-size: 60px;
  }
  .about .nxgram {
    left: 270px;
    bottom: -190px;  
  }

  .about .nxgram2 {
    top: 93px;
    left: 60%;
    max-width: 36%;
  }

  .about .rolltext {
    padding-left: 40px;
    font-size: 35px;
  }
  
  .about .title h2 span:nth-child(2) ,.about .title h2 span:nth-child(4) {
    padding-left: 70px;
  }

  .about-slide .about-slide-inner .type1 .t-wrap {
    padding-top: 5vh;
  }

  .about-slide .about-slide-inner .type1 h4 {
    font-size: 35px;

  }

  .about-slide .about-slide-inner .type2 h3 {
    font-size: 60px;
  }
  
  .about-slide .about-slide-inner .type2 strong{
    font-size: 30px;
  }
  
  .about-slide .about-slide-inner .swiper-pagination{
    width: 95px;
    left: 40px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  .about-slide .about-slide-inner .swiper-btn {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 140px;
  }
  
  .about .history-item h4 {
    font-size: 40px;
  }

  .about .history-item, .about .history-item:nth-child(4n) {
    width: 50%;
  }

  .about .organization-item {
    width: 33.3%;
    padding-right: 20px;
  }
  
  .about .organization-item h4 {
    font-size:24px;
    margin-bottom: 40px;
  }

  .about .organization-item li:first-child {
    font-size:18px;
    margin-bottom: 30px;
  }

  .about .brand strong.fs32 {
    font-size: 24px;
  }

  .about .brand strong.fs100 {
    font-size: 60px;
  }

  .about .brand p {
    font-size: 18px;
  }

  .about .brand-info p {
    font-size: 20px;
  }

  .about .brand-info li {
    padding: 25px 6%;
  }

  .about .brand-bg {
    padding-top: 200%;
    background: url(../img/about/about-brand1-m.png) left top/cover no-repeat;
    background-attachment: fixed;
  }

  .about .history-item:nth-child(2n+1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }

  .about .history-item:nth-child(2n) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }


}

/* 모바일 */
@media screen and (max-width: 767px) {
  .sub {
    padding-top: 120px
  }
  .sub-inner {
    padding: 0px 20px;
  }
  .about .title {
    width: auto;
    margin: 0;
    padding: 0px 20px 70vw;
    font-size: 14.1vw;
  }

  .about .nxgram {
    left: auto;
    right: 0;
    bottom: 0.2vw;
    text-align: center;
  }
  
  .about .nxgram2 {
    left: 21%;
    top: 84vw;
    width: 58%;
  }

  .about .nxgram img {max-width: 80%;  }

  .about .rolltext {
    width: 200px;
    padding-left: 20px;
    font-size: 25px;
  }
  .about .title h2 span:nth-child(2) ,.about .title h2 span:nth-child(4) {
    padding-left: 15vw;
  }
  
  .about-slide .about-slide-inner {
    background: #000 url("../img/about/about-slidebg-m.png") 50%/cover no-repeat;
  }
  
  .about-slide .about-slide-inner .type1 .t-wrap {
    padding-top: 5vh;
  }

  .about-slide .about-slide-inner .type1 h4 {
    font-size: 7vw;
  }

  .about-slide .about-slide-inner .type2 {
    height: 80%;
  }

  .about-slide .about-slide-inner .type2 h3 {
    font-size: 15vw;
  }
  
  .about-slide .about-slide-inner .type2 strong {
    font-size: 8vw;
    line-height: 1.5;
  }

  .about-slide .about-slide-inner .type2 p {
    max-width: 260px;
  }
  
  .about-slide .about-slide-inner .swiper-pagination{
    width: 95px;
    left: 20px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  .about-slide .about-slide-inner .swiper-btn {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    left: 120px;
  }
  
  .about .history-item  {
    margin-bottom: 4vw;
    padding-bottom: 4vw;
  }
  
  .about .history-item h4 {
    font-size: 14vw;
    margin-bottom: 8vw;
  }
  
  .about .history-item li {
    font-size: 4.5vw;
  }

  .about .history-item, .about .history-item:nth-child(4n) {
    width: 100%;
  }

  .about .organization-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 80px;
  }

  .about .organization-item {
    width: 90%;
    margin-bottom: 8vw;
  }
  
  .about .organization-item h4 {
    font-size: 9vw;
    margin-bottom: 8vw;
  }

  .about .organization-item li:first-child {
    font-size: 4.5vw;
    margin-bottom: 4vw;
  }

  .about .brand strong.fs32 {
    font-size: 4.5vw;
  }

  .about .brand strong.fs100 {
    font-size: 14.5vw;
  }

  .about .brand p {
    font-size: 4.5vw;
  }

  .about .brand-info p {
    font-size: 4.5vw;
  }

  .about .brand-info ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about .brand-info li {
    padding: 5vw 0;
    width: 50%;
    text-align: center;
    font-size: 5vw;
    margin-bottom: 5vw;
  }

  .about .brand-info li:nth-child(2) {
    border-right: 0;
  }

  .about img.w50 {
    width: 100%;
  }
  
  .about .brand-bg {
    padding-top: 180%;
    background: url(../img/about/about-brand1-m.png) 50% top/cover no-repeat;
  }

  .about .history-item:nth-child(n) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }

}



/************************************ contact ************************************/
.contact h3 {margin-bottom: 30px; font-size: 38px; font-weight: 600; }
.contact h4 {margin-top: 140px;font-size: 33px; font-weight: 600; }
.contact h4 span {margin-top: 30px; display: block; font-size: 22px; font-weight: 300; word-break: keep-all;}
.contact h5 { margin: 140px 0; max-width: 75%; font-size: 22px; line-height: 1.2; word-break: keep-all;}
.contact p {max-width: 75%; font-size: 66px; font-weight: 600; line-height: 1.2; word-break: keep-all;}


/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact h3 {font-size: 25px }
  .contact h4 {margin-top: 100px; font-size: 22px;  }
  .contact h4 span {font-size: 18px; }
  .contact h5 { margin: 100px 0; font-size: 18px; }
  .contact p {font-size: 40px; }
}

/* 모바일 */
@media screen and (max-width: 767px) {
  .contact h3 {font-size: 23px }
  .contact h4 {margin-top: 60px; font-size: 20px;  }
  .contact h4 span {font-size: 16px; }
  .contact h5 { margin: 60px 0; font-size: 16px; }
  .contact p {font-size: 30px; }

}



/************************************ portfolio ************************************/
.sub.portfolio img {max-width: 100%;}
.portfolio-list {width: 100%;}
.sub.portfolio .container {padding-top: 240px;}
.portfolio-title { font-size: 66px; font-weight: 600; line-height: 1.2;}
.container {width: 100%; max-width: 1440px; margin: 0 auto;}

#grid-filter {display: block;}
#grid-filter li { margin: 80px 0px 40px; display: inline-block; color: #95969c; cursor: pointer; font-size: 14.5px; padding-right: 30px;}
#grid-filter li.on {color: #282828;}

#masonry-grid {margin-left: -40px;}
#masonry-grid img {width: 100%; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; transition: all 0.3s linear;}
#masonry-grid a { position: relative; display: block; margin: 40px; overflow: hidden; }
#masonry-grid .grid-item {width: 33.33%;}
#masonry-grid .grid-item .ov {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#masonry-grid a .ov-ty {
  position: absolute; 
  top: 50px; 
  left: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#masonry-grid a .ov-tit {
  position: absolute; 
  bottom: 50px; 
  left: 50px;
  font-size: 27px;
  line-height: 1.3;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#masonry-grid a .ov-tit span {
  display: block;
  padding-top: 8px;
  font-size: 22px;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.grid-sizer { width: 33.33%; }
#masonry-grid a:hover .ov, #masonry-grid a:hover .ov-ty, #masonry-grid a:hover .ov-tit , #masonry-grid a:hover .ov-tit span {opacity:1; -webkit-transform: translateY(0px); transform: translateY(0px);}
#masonry-grid a:hover img {-webkit-transform: scale(1.1);transform: scale(1.1);}


/* 작은 모니터 */
@media screen and (min-width: 1025px) and (max-width: 1450px) {
  .sub.portfolio .container {padding: 240px 40px 0px;}
  .portfolio-title {font-size: 44px; }
  #masonry-grid a {margin: 20px }
  #masonry-grid {
    margin-left: -20px;
    width: calc(100% + 40px);;
  }
  
  #masonry-grid a .ov-ty {
    top: 20px; 
    left: 20px;
  }
  #masonry-grid a .ov-tit {
    bottom: 20px; 
    left: 20px;
  }
  #grid-filter {display: block;}
}

/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sub.portfolio .container {padding: 180px 40px 0px;}
  .portfolio-title {font-size: 44px; }
  #masonry-grid a {margin: 10px }
  #masonry-grid {
    margin-left: -10px;
    width: calc(100% + 20px);;
  }
  
  #masonry-grid a .ov-ty {
    top: 20px; 
    left: 20px;
  }
  #masonry-grid a .ov-tit {
    bottom: 20px; 
    left: 20px;
  }
  #grid-filter {display: block;}
}

/* 모바일 */
@media screen and (max-width: 767px) {
  .sub.portfolio .container {padding: 120px 20px 0px;}
  .portfolio-title {font-size: 25px; }
  #masonry-grid {margin-left: 0;}
  #masonry-grid a {margin: 0; padding-bottom: 70px;}
  #masonry-grid .grid-item {width: 100%;}
  #masonry-grid a:hover .ov, #masonry-grid a:hover .ov-ty { opacity: 0;}
  #masonry-grid a .ov-tit {
    left: 0;
    bottom: 18px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    color: #282828;
    font-size: 18px;
  }
  #masonry-grid a .ov-tit span {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    color: #95969c;
    font-size: 14px;
  }
  #masonry-grid a:hover img {-webkit-transform: scale(1);transform: scale(1);}
  #grid-filter {
    display: none;
    margin-bottom: 20px;
  }
  #grid-filter li {
    display: block;  
    margin: 0;
    padding: 15px 0px;
  }
}


/************************************ project ************************************/
.project-maintitle {margin: 0px auto; padding-top: 240px; max-width: 1440px; font-size: 22px; line-height: 1.3; word-break: keep-all;}
.project-maintitle h2 {font-size: 66px; font-weight: 600;}
.project-maintitle h2 span {display: block; font-size: 22px; font-weight: 300; }
.project-maintitle .mt40 {margin-top: 40px;}
.project-video {position: relative; width: 100%; padding-top:56.25%; overflow: hidden;}
.project-video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.project-video video {
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
}
.project-video.v-cover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.0);
}
 
.project-subtitle { max-width: 1440px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
.project-subtitle h3 {font-size: 40px; font-weight: 600;}
.project-subtitle p { padding: 50px 0px 0px 240px; font-size: 22px; line-height: 1.5; word-break: keep-all;}
.project-subtitle.type3 h3 {font-size: 66px; font-weight: 600;}
.project-subtitle.type3 p {max-width: 710px; margin-left: auto; margin-right: auto; padding-left: 0;}
.project-subtitle.type2 {-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.project-subtitle.type2 h3 {width: 50%; font-size: 66px; padding-right: 6%;}
.project-subtitle.type2 p {width: 50%; padding: 0;}
.next-project {position: relative; top: 6px; z-index: 8; overflow: hidden;}
.next-project a picture {-webkit-transition: all 0.3s ease-in;transition: all 0.3s ease-in;}
.next-project a::after {
  content: ""; 
  -webkit-transition: all 0.3s ease-in; 
  transition: all 0.3s ease-in; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5); 
  opacity: 0;
}
.next-project a > span {position: absolute; }
.next-project a > span.nextpj-rect { 
  width: 160px; 
  height: 55px; 
  top: 50%; 
  left: 50%; 
  padding: 0px 10px; 
  color: #fff; 
  background-color: rgb(41, 41, 41, 0.5); 
  border: 1px solid rgb(255, 255, 255, 0.5); 
  font-size: 16px; 
  line-height: 55px; 
  text-align: center;
  -webkit-transform: translateX(-60px) translateY(-20px);
          transform: translateX(-60px) translateY(-20px);
}
.next-project a:hover .nextpj-rect { opacity: 0;}
.next-project a:hover picture {-webkit-transform: scale(1.1);transform: scale(1.1);}
.next-project a:hover::after {opacity: 1; z-index: 9;}
.next-project  .nextpj-hover {
  position: absolute; 
  left: 25px; 
  bottom: 25px; 
  font-size: 26px; 
  font-weight: 600; 
  color: #fff; 
  text-align: left;
  z-index: 10; 
  -webkit-transform: translateY(20px); 
          transform: translateY(20px);
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, transform .5s;
  transition: opacity .5s, transform .5s, -webkit-transform .5s;
  opacity: 0;
}
.next-project  .nextpj-hover span {
  display: block; 
  padding-top: 10px; 
  font-size: 22px; 
  font-weight: 300;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in; 
  -webkit-transition: opacity .5s ease-in, -webkit-transform .5s ease-in; 
  transition: opacity .5s ease-in, -webkit-transform .5s ease-in; 
  transition: opacity .5s ease-in, transform .5s ease-in; 
  transition: opacity .5s ease-in, transform .5s ease-in, -webkit-transform .5s ease-in;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.next-project  a:hover .nextpj-hover , .next-project  a:hover .nextpj-hover span {  -webkit-transform: translateY(0px);  transform: translateY(0px); opacity: 1;}
.next-project.v2 a{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding-top: 31%;
}

.next-project a.bg-6nails {background-image: url("../img/work/detail/6nails/n1.png");}
.next-project a.bg-144cake {background-image: url("../img/work/detail/144cake/n1.png");}
.next-project a.bg-cyclean {background-image: url("../img/work/detail/cyclean/n1.png");}
.next-project a.bg-endigo {background-image: url("../img/work/detail/endigo/n1.png");}
.next-project a.bg-mobillink {background-image: url("../img/work/detail/mobillink/n1.png");}
.next-project a.bg-ocha {background-image: url("../img/work/detail/ocha/n1.png");}
.next-project a.bg-spacec {background-image: url("../img/work/detail/spacec/n1.png");}
.next-project a.bg-mshop {background-image: url("../img/work/detail/mshop/n1.png");}
.next-project a.bg-shinhan {background-image: url("../img/work/detail/shinhan/n1.png");}
.next-project a.bg-kbstar {background-image: url("../img/work/detail/kbstar/n1.png");}


.grid.g4 > .lottie-wrap {
  width: 50%;
  height: 859px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid.g4 > .lottie-wrap .lottie {
  border: 1px solid #d0d0d0;
  padding: 6%;
}

/* 작은 모니터  */
@media screen and (min-width: 1025px) and (max-width: 1450px) {
  .project-maintitle , .project-subtitle {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .project-maintitle , .project-subtitle {
    padding-left: 40px;
    padding-right: 40px;
  }
  .project-maintitle {padding-top: 180px;}
  .project-maintitle h2 {font-size: 35px;}
  .project-maintitle h2 span {font-size: 18px; }
  .project-subtitle h3 {font-size: 30px; font-weight: 600;}
  .project-subtitle p { padding: 30px 0px 0px 130px; font-size: 18px; }
  .project-subtitle.type3 h3 {font-size: 35px; }
  .project-subtitle.type2 h3 {font-size: 35px; }
}

/* 모바일 */
@media screen and (max-width: 767px) {
  .project-maintitle , .project-subtitle {
    padding-left: 20px;
    padding-right: 20px;
  }
  .project-maintitle {padding-top: 120px;}
  .project-maintitle h2 {font-size: 30px;}
  .project-maintitle h2 span {font-size: 15px; }
  .project-subtitle h3 {font-size: 26px; font-weight: 600;}
  .project-subtitle p { padding: 20px 0px 0px 0px; font-size: 15px; }
  .project-subtitle.type3 h3 {font-size: 28px; }
  .project-subtitle.type2 h3 {font-size: 28px; }
  .project-subtitle.type2 {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
  .project-subtitle.type2 h3, .project-subtitle.type2 p {width: 100%; padding-top: 20px;}
  
  .next-project.v2 a{padding-top: 54%;}
  .next-project a.bg-6nails {background-image: url("../img/work/detail/6nails/m-n1.png");}
  .next-project a.bg-144cake {background-image: url("../img/work/detail/144cake/m-n1.png");}
  .next-project a.bg-cyclean {background-image: url("../img/work/detail/cyclean/m-n1.png");}
  .next-project a.bg-endigo {background-image: url("../img/work/detail/endigo/m-n1.png");}
  .next-project a.bg-mobillink {background-image: url("../img/work/detail/mobillink/m-n1.png");}
  .next-project a.bg-mshop {background-image: url("../img/work/detail/mshop/m-n1.png");}
  .next-project a.bg-ocha {background-image: url("../img/work/detail/ocha/m-n1.png");}
  .next-project a.bg-spacec {background-image: url("../img/work/detail/spacec/m-n1.png");}
  .next-project a.bg-mshop {background-image: url("../img/work/detail/mshop/m-n1.png");}
  .next-project a.bg-shinhan {background-image: url("../img/work/detail/shinhan/m-n1.png");}
  .next-project a.bg-kbstar {background-image: url("../img/work/detail/kbstar/m-n1.png");}

  .grid.g4 > .lottie-wrap {
    height: 330px;
  }
}

.grid {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.grid.g4 > div  { 
  width: 50%;
  padding: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* test */

.video-background {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-background iframe, 
.video-background video {
  position: absolute;
  bottom: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.youtube {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.youtube .youtube__area {
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
}

.youtube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.youtube .youtube__cover {
  /* background-image: url('../images/video_cover_pattern.png'); */
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube .player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
