
html {
  scroll-behavior: smooth;
}
.sub {padding-top: 240px}
.sub.none {padding-top: 0px}
.sub-inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.sub-inner.mb200 {
  margin-bottom: 200px;
}
.sub-inner.mt200 {
  margin-top: 200px;
}
.sub-inner img {
  max-width: 100%;
}


/************************************ about ************************************/
.about .title {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0px auto 580px;
  font-size: 140px;
  font-weight: 500;
  line-height: 1.3;
  color: #282828;
}

.about .title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .title h2 span:nth-child(2) {
  width: 500px;  -webkit-transform: translateX(200px);  transform: translateX(200px);  
}
.about .nxgram {
  position: absolute;
  left: 550px;
  bottom: -400px;
}

.about h3 {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 600;
}

.about p {
  font-size: 22px;
  line-height: 1.5;
  word-break: keep-all;
}

.graphic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.visible {
  opacity: 1;
}

.about .scroll-graphic {
  position: sticky;
  top: 0px;
  height: 10vh;
}
.about .scene-img {
  max-height: 100vh;
  max-width: 100%;
}
.about .global-width {
  max-width: 1440px;
  margin: 200px auto;
}
.about .scroll-text {
  position: relative;
}

.about .rolltext {
  width: 300px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
  margin-top: 100px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}
.about .step {
  font-size: 50px;
  padding: 0.5rem 1rem;
  margin-bottom: 100vh;
}


.graphic-item.renew:nth-child(1) { background: #3d4234; }
.graphic-item.renew:nth-child(2) { background: #1b2d3a; }
.graphic-item.renew:nth-child(3) { background: #3e3d53; }

/* 작은 모니터 */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .sub-inner {
    padding: 0px 40px;
  }
  .about .title {
    width: auto;
    margin: 0px 40px 300px;
    font-size: 90px;
  }
  .about .rolltext {
    padding-left: 40px;
  }
  .about .nxgram {
    left: 390px;  
  }
  .about .title h2 span:nth-child(2) {
    width: 400px;
    -webkit-transform: translateX(120px);
            transform: translateX(120px);  
  }
}


/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sub {
    padding-top: 180px
  }
  .sub-inner {
    padding: 0px 40px;
  }
  .about .title {
    width: auto;
    margin: 0px 40px 250px;
    font-size: 60px;
  }
  .about .nxgram {
    left: 270px;
    bottom: -190px;  
  }
  .about .rolltext {
    padding-left: 40px;
    font-size: 35px;
  }
  .about .title h2 span:nth-child(2) {
    width: 290px;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
    
  .about h3 {
    font-size: 30px;
    font-weight: 600;
  }

  .about p {
    font-size: 18px;
    line-height: 1.5;
    word-break: keep-all;
  }

}

/* 모바일 */
@media screen and (max-width: 767px) {
  .sub {
    padding-top: 120px
  }
  .sub-inner {
    padding: 0px 20px;
  }
  .about .title {
    width: auto;
    margin: 0px 20px 200px;
    font-size: 40px;
  }
  .about .nxgram {
    left: auto;
    right: 0;
    bottom: -160px;
  }
  .about .rolltext {
    width: 200px;
    padding-left: 20px;
    font-size: 25px;
  }
  .about .title h2 span:nth-child(2) {
    width: 200px; -webkit-transform: translateX(60px); transform: translateX(60px);
  }
  .about h3 {
    font-size: 25px;
    font-weight: 600;
  }

  .about p {
    font-size: 16px;
    line-height: 1.5;
    word-break: keep-all;
  }

}



/************************************ contact ************************************/
.contact h3 {margin-bottom: 30px; font-size: 38px; font-weight: 600; }
.contact h4 {margin-top: 140px;font-size: 33px; font-weight: 600; }
.contact h4 span {margin-top: 30px; display: block; font-size: 22px; font-weight: 300; word-break: keep-all;}
.contact h5 { margin: 140px 0; max-width: 75%; font-size: 22px; line-height: 1.2; word-break: keep-all;}
.contact p {max-width: 75%; font-size: 66px; font-weight: 600; line-height: 1.2; word-break: keep-all;}


/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact h3 {font-size: 25px }
  .contact h4 {margin-top: 100px; font-size: 22px;  }
  .contact h4 span {font-size: 18px; }
  .contact h5 { margin: 100px 0; font-size: 18px; }
  .contact p {font-size: 40px; }
}

/* 모바일 */
@media screen and (max-width: 767px) {
  .contact h3 {font-size: 23px }
  .contact h4 {margin-top: 60px; font-size: 20px;  }
  .contact h4 span {font-size: 16px; }
  .contact h5 { margin: 60px 0; font-size: 16px; }
  .contact p {font-size: 30px; }

}



/************************************ portfolio ************************************/
.sub.portfolio img {max-width: 100%;}
.portfolio-list {width: 100%;}
.sub.portfolio .container {padding-top: 240px;}
.portfolio-title { font-size: 66px; font-weight: 600; line-height: 1.2;}
.container {width: 100%; max-width: 1440px; margin: 0 auto;}

#grid-filter {display: block;}
#grid-filter li { margin: 80px 0px 40px; display: inline-block; color: #95969c; cursor: pointer; font-size: 14.5px; padding-right: 30px;}
#grid-filter li.on {color: #282828;}

#masonry-grid {margin-left: -40px;}
#masonry-grid img {width: 100%; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; transition: all 0.3s linear;}
#masonry-grid a { position: relative; display: block; margin: 40px; overflow: hidden; }
#masonry-grid .grid-item {width: 33.33%;}
#masonry-grid .grid-item .ov {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#masonry-grid a .ov-ty {
  position: absolute; 
  top: 50px; 
  left: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#masonry-grid a .ov-tit {
  position: absolute; 
  bottom: 50px; 
  left: 50px;
  font-size: 27px;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#masonry-grid a .ov-tit span {
  display: block;
  padding-top: 8px;
  font-size: 22px;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.grid-sizer { width: 33.33%; }
#masonry-grid a:hover .ov, #masonry-grid a:hover .ov-ty, #masonry-grid a:hover .ov-tit , #masonry-grid a:hover .ov-tit span {opacity:1; -webkit-transform: translateY(0px); transform: translateY(0px);}
#masonry-grid a:hover img {-webkit-transform: scale(1.1);transform: scale(1.1);}


/* 작은 모니터 */
@media screen and (min-width: 1025px) and (max-width: 1450px) {
  .sub.portfolio .container {padding: 240px 40px 0px;}
  .portfolio-title {font-size: 44px; }
  #masonry-grid a {margin: 20px }
  #masonry-grid {
    margin-left: -20px;
    width: calc(100% + 40px);;
  }
  
  #masonry-grid a .ov-ty {
    top: 20px; 
    left: 20px;
  }
  #masonry-grid a .ov-tit {
    bottom: 20px; 
    left: 20px;
  }
  #grid-filter {display: block;}
}

/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sub.portfolio .container {padding: 180px 40px 0px;}
  .portfolio-title {font-size: 44px; }
  #masonry-grid a {margin: 10px }
  #masonry-grid {
    margin-left: -10px;
    width: calc(100% + 20px);;
  }
  
  #masonry-grid a .ov-ty {
    top: 20px; 
    left: 20px;
  }
  #masonry-grid a .ov-tit {
    bottom: 20px; 
    left: 20px;
  }
  #grid-filter {display: block;}
}

/* 모바일 */
@media screen and (max-width: 767px) {
  .sub.portfolio .container {padding: 120px 20px 0px;}
  .portfolio-title {font-size: 25px; }
  #masonry-grid {margin-left: 0;}
  #masonry-grid a {margin: 0; padding-bottom: 70px;}
  #masonry-grid .grid-item {width: 100%;}
  #masonry-grid a:hover .ov, #masonry-grid a:hover .ov-ty { opacity: 0;}
  #masonry-grid a .ov-tit {
    left: 0;
    bottom: 25px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    color: #282828;
    font-size: 18px;
  }
  #masonry-grid a .ov-tit span {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    color: #95969c;
    font-size: 14px;
  }
  #masonry-grid a:hover img {-webkit-transform: scale(1);transform: scale(1);}
  #grid-filter {
    display: none;
    margin-bottom: 20px;
  }
  #grid-filter li {
    display: block;  
    margin: 0;
    padding: 15px 0px;
  }
}







/************************************ project ************************************/
.project-maintitle {margin: 0px auto; padding-top: 240px; max-width: 1440px; font-size: 22px; line-height: 1.3; word-break: keep-all;}
.project-maintitle h2 {font-size: 66px; font-weight: 600;}
.project-maintitle h2 span {display: block; font-size: 22px; font-weight: 300; }
.project-maintitle .mt40 {margin-top: 40px;}
.project-video {position: relative; width: 100%; padding-top:56.25%}
.project-video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.project-subtitle { max-width: 1440px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
.project-subtitle h3 {font-size: 40px; font-weight: 600;}
.project-subtitle p { padding: 50px 0px 0px 240px; font-size: 22px; line-height: 1.5; word-break: keep-all;}
.project-subtitle.type3 h3 {font-size: 66px; font-weight: 600;}
.project-subtitle.type3 p {max-width: 710px; margin-left: auto; margin-right: auto; padding-left: 0;}
.project-subtitle.type2 {-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;}
.project-subtitle.type2 h3 {width: 50%; font-size: 66px; padding-right: 6%;}
.project-subtitle.type2 p {width: 50%; padding: 0;}
.next-project {position: relative; top: 6px; z-index: 8; overflow: hidden;}
.next-project a picture {-webkit-transition: all 0.3s ease-in;transition: all 0.3s ease-in;}
.next-project a::after {
  content: ""; 
  -webkit-transition: all 0.3s ease-in; 
  transition: all 0.3s ease-in; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5); 
  opacity: 0;
}
.next-project a > span {position: absolute; }
.next-project a > span.nextpj-rect { 
  width: 160px; 
  height: 55px; 
  top: 50%; 
  left: 50%; 
  padding: 0px 10px; 
  color: #fff; 
  background-color: rgb(41, 41, 41, 0.5); 
  border: 1px solid rgb(255, 255, 255, 0.5); 
  font-size: 16px; 
  line-height: 55px; 
  text-align: center;
  -webkit-transform: translateX(-60px) translateY(-20px);
          transform: translateX(-60px) translateY(-20px);
}
.next-project a:hover .nextpj-rect { opacity: 0;}
.next-project a:hover picture {-webkit-transform: scale(1.1);transform: scale(1.1);}
.next-project a:hover::after {opacity: 1; z-index: 9;}
.next-project  .nextpj-hover {
  position: absolute; 
  left: 25px; 
  bottom: 25px; 
  font-size: 26px; 
  font-weight: 600; 
  color: #fff; 
  text-align: left;
  z-index: 10; 
  -webkit-transform: translateY(20px); 
          transform: translateY(20px);
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, transform .5s;
  transition: opacity .5s, transform .5s, -webkit-transform .5s;
  opacity: 0;
}
.next-project  .nextpj-hover span {
  display: block; 
  padding-top: 10px; 
  font-size: 22px; 
  font-weight: 300;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in; 
  -webkit-transition: opacity .5s ease-in, -webkit-transform .5s ease-in; 
  transition: opacity .5s ease-in, -webkit-transform .5s ease-in; 
  transition: opacity .5s ease-in, transform .5s ease-in; 
  transition: opacity .5s ease-in, transform .5s ease-in, -webkit-transform .5s ease-in;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.next-project  a:hover .nextpj-hover , .next-project  a:hover .nextpj-hover span {  -webkit-transform: translateY(0px);  transform: translateY(0px); opacity: 1;}

/* 작은 모니터  */
@media screen and (min-width: 1025px) and (max-width: 1450px) {
  .project-maintitle , .project-subtitle {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .project-maintitle , .project-subtitle {
    padding-left: 40px;
    padding-right: 40px;
  }
  .project-maintitle {padding-top: 180px;}
  .project-maintitle h2 {font-size: 35px;}
  .project-maintitle h2 span {font-size: 18px; }
  .project-subtitle h3 {font-size: 30px; font-weight: 600;}
  .project-subtitle p { padding: 30px 0px 0px 130px; font-size: 18px; }
  .project-subtitle.type3 h3 {font-size: 35px; }
  .project-subtitle.type2 h3 {font-size: 35px; }
}

/* 모바일 */
@media screen and (max-width: 767px) {
  .project-maintitle , .project-subtitle {
    padding-left: 20px;
    padding-right: 20px;
  }
  .project-maintitle {padding-top: 120px;}
  .project-maintitle h2 {font-size: 30px;}
  .project-maintitle h2 span {font-size: 15px; }
  .project-subtitle h3 {font-size: 26px; font-weight: 600;}
  .project-subtitle p { padding: 20px 0px 0px 0px; font-size: 15px; }
  .project-subtitle.type3 h3 {font-size: 28px; }
  .project-subtitle.type2 h3 {font-size: 28px; }
  .project-subtitle.type2 {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
  .project-subtitle.type2 h3, .project-subtitle.type2 p {width: 100%; padding-top: 20px;}
  
}

.grid {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.grid.g4 > div  { 
  width: 50%;
  padding: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

